.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
}
ul{
    gap: 15px;
    display: flex;
    list-style: none;
    cursor: pointer;
}
ul li a{
    text-decoration: none
}
.search{
        flex: 1;
        display: flex
}
.search input{
    flex:1;
    display:flex;
    height:40px;
    margin-left:50px;
    border: 2px solid white;
}
