<nav class="navbar">
    <h1><a routerLink= "home">Ecomm</a></h1>
    <div *ngIf ="menuType === 'default'" class="search">
        <input #searchItem type = "text" placeholder ="search" (keyup) = "autosuggestionSearch($event)" (blur) =" removeAutoSearch()"/>
        <button (click) =" submitSearch(searchItem.value)">search</button>
        <ul class ="autosearch" *ngIf = "serchResult">
            <li *ngFor =" let result of serchResult">
               {{result.productname}}
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
    <ul *ngSwitchCase ="'default'">
        <li><a routerLink= "seller">Seller</a></li>
        <li><a routerLink= "home">Home</a></li>
        <li><a routerLink= "">Log Out</a></li>
        <li><a routerLink= "">Cart</a></li>
    </ul>
    <ul *ngSwitchCase ="'seller'">
        <li><a routerLink= "seller-addproduct">Add Product</a></li>
        <li><a routerLink= "seller-viewproduct">View Product</a></li>
        <li><a (click)= "sellerLogOut()">Log Out</a></li>
        <li><a routerLink= "seller-home">{{sellerName | titlecase}}</a></li>
    </ul>
   </div>
 
</nav>