<div class = "view-product">
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let list of productList; let i= index">
            <td>{{list.productname}}</td>
            <td>{{list.productprice}}</td>
            <td>{{list.description}}</td>
            <td>{{list.category}}</td>
            <td><img [src]="list.imgUrl" alt="Clock Image">
            <!-- <img src="/clock.jpg" alt="Clock Image">  ADD Image in public folder  -->
        </td>
        <td>
            <span (click) = "deleteProduct(list.id)"><mat-icon>delete</mat-icon></span>
            <a routerLink ="/seller-updateproduct/{{list.id}}"><mat-icon style="color: green;">edit</mat-icon></a> 
             <!-- add '/'' before seller-updateproduct in router Link or it will take view-product in path too -->
        </td>
        </tr>

    </tbody>
</table>
</div>