
  .product-container {
    display: flex;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
     align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
  }
  
  .details-container {
    flex: 1;
    padding: 20px;
  }
  
  .details-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .details-container p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .quantity {
    margin-top: 20px;
  }
  
  .quantity {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .quantity button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .quantity input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buy-btn, .cart-btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .buy-btn {
    background-color: #28a745;
    color: white;
  }
  
  .cart-btn {
    background-color: #ff9800;
    color: white;
  }
  