/* You can add global styles to this file, and also import other style files */
form{
    display:flex;
    flex-direction : column;
    width:500px;
  }
  .form-input{
    margin-bottom : 20px;
    padding: 5px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
