@if(searchProductList){
<div class="container" *ngFor = "let product of searchProductList">
    <!-- Image Section -->
    <div class="image-container">
        <a routerLink = "/product-detail/{{product.id}}"> <img src="{{product.imgUrl}}" alt="Product Image"></a>
    </div>

    <!-- Details Section -->
    <div class="details-container">
        <a routerLink = "/product-detail/{{product.id}}"> <h2>{{product.productname}}</h2></a>
        <p>{{product.description}}</p>
        <p><strong>Price:</strong> ${{product.productprice}}</p>
        <p><strong>Category:</strong> {{product.category}}</p>
    </div>
</div>
}
<div class="no-results" *ngIf="searchProductList?.length === 0">
    <p class ="noProduct">No products found.</p>
  </div>

